
.container_filter{
    width: 17vw;
    height: 100%;
    border: 1px solid #b6b6b6;
}
.container_filter h1{
    border-bottom: 2px solid  #b6b6b6;
    line-height: 40px;
    padding:05px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.CATEGORIES,.filter-price,.filter-color{
    padding: 12px 10px;
    padding-bottom: 25px;
    border-bottom:1px solid #b6b6b6 ;
}
.CATEGORIES h1,.filter-price h1,.filter-color h1,.recent-products h1{
    font-size: 17px;
    border: none;
    padding:0px;
    border-bottom: 1px solid #b6b6b6;
}
.CATEGORIES ul>li,.filter-price ul>li,.filter-color ul>li{
    list-style-type: square;
    line-height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #b6b6b6;
    cursor: pointer;
}

.recent-products{
    padding: 12px 10px;
    padding-bottom: 25px;
    border-bottom:1px solid #b6b6b6 ;
}
.recent-products ul{
    list-style-type: none;
    padding:0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.recent-products ul li{
    display: flex;
    gap: 10px;
    border-bottom: 1px dotted #b6b6b6;
    cursor: pointer;
    padding: 10px;
}
.recent-products img,.product-image-filter{
    width: 80px;
    height: 100px;
    object-fit: cover;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.recent-products ul li .product-details-filter{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px 0px;
}
.recent-products ul li .product-details-filter span{
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #7a7a7a;
}
.recent-products ul li .product-details-filter span+span{
    color: black;
    font-size: 20px;
    font-weight: 600;
}