*{
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  list-style-type: none;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}